prefer-no-csd

/-hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24

    hide-when-typing
}

overview {
    workspace-shadow {
        off
    }
}
