/-output "eDP-1" {
    mode "2560x1600@240"

    scale 1.5

    transform "normal"
    position x=0 y=0

    variable-refresh-rate

    focus-at-startup

    hot-corners {
        bottom-left
    }
}

/-output "HDMI-A-5" {
    mode "1920x1080@60"
    scale 1.125

    transform "90"
    position x=1707 y=0

    hot-corners {
        bottom-right
    }
}
