input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
        scroll-method "two-finger"
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}
