window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

window-rule {
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
