prefer-no-csd

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24

    hide-when-typing
}

hotkey-overlay {
    skip-at-startup
}

input {
    trackpoint {
        off
    }

    trackball {
        off
    }

    tablet {
        off
    }

    touch {
        off
    }
}

window-rule {
    open-floating true
}

spawn-sh-at-startup "ghostty -e /usr/bin/oobe-wizard; niri msg action quit -s"
