spawn-sh-at-startup "regreet; niri msg action quit --skip-confirmation"
hotkey-overlay {
    skip-at-startup
}
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}
binds {}
input {
    keyboard {
        xkb {}
        numlock
    }

    // 触摸板配置
    touchpad {
        tap
        dwt
    }

    // 鼠标配置
    mouse {
    }
    // 指点杆配置
    trackpoint {
        off
    }
    // 轨迹球配置
    trackball {
        off
    }
    // 绘图板配置
    tablet {
        off
    }
    // 触摸屏配置
    touch {
        off
    }
}
