include "./config.d/env.kdl"
include "./config.d/startup.kdl"
include "./config.d/input.kdl"
include "./config.d/outputs.kdl"
include "./config.d/layout.kdl"
include "./config.d/workspaces.kdl"
include "./config.d/animations.kdl"
include "./config.d/window-rules.kdl"
include "./config.d/layer-rules.kdl"
include "./config.d/switch-events.kdl"
include "./config.d/gestures.kdl"
include "./config.d/recent-windows.kdl"
include "./config.d/miscellaneous.kdl"
include "./config.d/debug.kdl"
include "./config.d/binds.kdl"

// 包含 noctalia 主题配置 (覆盖 layout 颜色等)
include "./noctalia.kdl"