// 杂项配置
// 文档: https://yalter.github.io/niri/Configuration:-Miscellaneous

// 请求应用不使用客户端装饰 (CSD)。
// 会让支持的服务端装饰 (SSD) 应用显示 niri 的边框/焦点环。
// 也会移除一些应用的圆角。
prefer-no-csd

// 截图保存路径
// "~" 扩展为主目录。路径中可以使用 strftime(3) 时间格式。
// 设置为 null 可禁用保存到磁盘。
screenshot-path "~/图片/屏幕截图/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 启动时的热键帮助叠加层配置
hotkey-overlay {
    // 启动时不自动显示
    skip-at-startup
    
    // 不显示未绑定的操作
    // hide-not-bound
}

// 光标配置
// 设置光标主题和大小，这也会自动设置 XCURSOR_THEME 和 XCURSOR_SIZE 环境变量。
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    
    // 打字时隐藏光标
    hide-when-typing
    
    // 无操作多少毫秒后隐藏光标
    // hide-after-inactive-ms 5000
}

// 剪贴板配置
clipboard {
    // 禁用主剪贴板 (中键粘贴)
    // disable-primary
}

// 配置文件通知
config-notification {
    // 禁用配置解析失败时的通知
    // disable-failed
}

// 概览配置 (Noctalia 推荐配置)
overview {
    // 禁用工作区阴影 (方案 2)
    workspace-shadow {
        off
    }
}
